.card {
    position: relative;
    width: 300px;
    height: 500px;
    max-width: 600px;
    padding: 30px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.card_container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.swipe {
    position: absolute;
}

.card>h2 {
    position: absolute;
    color: white;
    bottom: 5px;
}

.swipeButtons {
    margin-top: 600px;
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
}

.swipeButtons .MuiIconButton-root {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 9px -5px rgba(0, 0, 0, 0.3);
    margin-right: 50px;
}

.swipeButtons__left {
    padding: 3w !important;
    color: #fe4f68 !important;
}

.swipeButtons__star {
    padding: 3w !important;
    color: #21bbff !important;
}

.swipeButtons__right {
    padding: 3w !important;
    color: #30e7b3 !important;
}

