  .chat {
      display: flex;
      width: 280px;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      height: 98px;
      border-bottom: 1px solid #dedede;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  .chat__details {
      flex: 1;
      margin-right: 70px;
  }

  .chat__details h2 {
    font-size: 18px;
}

  .chat__details>p {
      color: gray;
  }

  .chat__timestamp {
      color: lightgray;
  }

  .chat__image {
      margin-right: 20px;
  }